<div class="search-overlay" [class.open]="showCompose==true" (open) = "composeToggle()">
    <section class="search-content">

        <section class="input-wrapper">
            <div class="selected-users">
                <div class="selected-users-list" *ngFor="#user of selectedUsers | values">
                    <avatar [profile]="user"></avatar>
                </div>

                <button (click)="createChatRoom()">Test Button</button>
            </div>
            <input type='text' class="search-input" placeholder="Search people..."/>
        </section>

        <section class="search-results">
            <div class="user-figure" *ngFor="#user of users" (click)="addToSelected(user)" [class.selected]="user.selected == true">
                <figure class="tint"></figure>
                <avatar [profile]="user"></avatar>
                <h1 class="user-name">{{user.firstname}} {{user.lastname}}</h1>
            </div>
        </section>
    </section>

    =

</div>