


//components css

@import '../../node_modules/node-reset-scss/scss/_reset.scss';

@import 'mixins';
@import '../../node_modules/ionicons/dist/scss/ionicons.scss';
@import 'loaders/loaders';

input, textarea, keygen, select, button{
  font-family: 'Lato', sans-serif;
  font-size:16px;

}

*{
  box-sizing: border-box;
  outline:none;
}

//Components
@import '../components/chat-list/chat-list';
@import '../components/header/header';
@import '../components/search/search';
@import '../components/avatar/avatar';
@import '../components/home-content/home-content';
@import '../components/last-message/last-message';



// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/chat-page/chat-page";
@import "../pages/login/login";
@import "../pages/splash/splash";
// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


//General Styles

html,body{
  height:100%;
  font-size:16px;
  font-family: 'Lato', sans-serif;
}

input, textarea, keygen, select, button{
  font-family: 'Lato', sans-serif;
  font-size:16px;

}

*{
  box-sizing: border-box;
  outline:none;
}

.tint{
  position:absolute;
  background:#000;
  opacity:.55;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: -1;
  margin:0;
}

.cover-img {
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  margin:0;
  z-index: -2;
  background-size: cover;
  background-color: #eee;
  background-position: center center;
  //@include blur();
}
