<header class="header-bar" *ngIf="chatid">

    <figure class="header-background" *ngIf="chat.users?.length == 1" [ngStyle]="{'background-image':'url('+chat.users[0]?.cover+')'}"></figure>

    <figure class="header-background" *ngIf="chat.users?.length > 1" [class.one] = "chat.users?.length == 1" [class.two] ="chat.users?.length ==2" [class.three]="chat.users?.length == 3" [class.four]="chat.users?.length >= 4">
        <div class="cover-img" *ngFor="#user of chat.users" [ngStyle]="{'background-image':'url('+user.cover+')'}"></div>
    </figure>


    <avatar *ngIf="chat.users" [profile]="chat.users"></avatar>

    <h1 *ngIf="chat.users" class="header-name"> {{chat.users | nameList}}</h1>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li *ngIf="chat.users?.length > 1" class="header-nav-item">Members</li>
            <li class="header-nav-item" (click)="compose()">New Message</li>
        </ul>
    </nav>


</header>

<header class="header-bar" *ngIf="!chatid">

    <figure class="header-background"  [ngStyle]="{'background-image':'url('+profile[0]?.cover+')'}"></figure>

    <avatar [profile]="profile"></avatar>

    <h1 class="header-name"> {{profile[0]?.firstname}} {{profile[0]?.lastname}} </h1>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-item">Profile Settings</li>
            <li class="header-nav-item" (click)="compose()">New Message</li>
        </ul>
    </nav>

</header>