.side-bar{
  position:absolute;
  left:0;
  width:35%;
  height:100%;
  z-index: 1;
  background: #333;

}

.chats-content{
  width:65%;
  position: relative;
  float:right;
  height:100%;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background-color: #e5e5e5;
}
