<header class="header-bar">

    <figure class="header-background" *ngIf="chat.users?.length == 1" [ngStyle]="{'background-image':'url('+chat.users[0]?.cover+')'}"></figure>

    <figure class="header-background" *ngIf="chat.users?.length > 1" [class.one] = "chat.users?.length == 1" [class.two] ="chat.users?.length ==2" [class.three]="chat.users?.length == 3" [class.four]="chat.users?.length >= 4">
        <div class="cover-img" *ngFor="#user of chat.users" [ngStyle]="{'background-image':'url('+user.cover+')'}"></div>
    </figure>


    <avatar *ngIf="chat.users" [profile]="chat.users"></avatar>

    <h1 *ngIf="chat.users" class="header-name"> {{chat.users | nameList}}</h1>

</header>