.message-component{
  width:100%;
  .avatar{
    @include transform(none);
    left:auto;
    top:auto;
    display: block;
    margin: 10px 20px 0 0px;

  }

  .message-text{
    display: block;
    text-align: left;
    position: relative;
    margin-bottom:30px;


  }

  .message-user-name{
    margin-bottom:20px;
    color:#888;
  }
}