.login-content{
  height:100%;
  background: linear-gradient(
                  to bottom,
                  #9d0b0e,
                  #9d0b0e 50%,
                  #ffffff 50%,
                  #ffffff
  );
  /* The rectangle in which to repeat.
     It can be fully wide in this case */
  background-size: 100% 150px;
  .login-logo{
    width:400px;
    height:200px;
    background-image: url("../../../images/waldo-logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    position:relative;
    @include centerElement('horizontal');
    top:110px;
    background-position: center center;

  }

  .login-button-container{
    position:absolute;
    text-align: center;
    @include centerElement('both');
  }

  .facebook-login{
    position:relative;
    color:#fff;
    width:250px;
    display:inline-block;
    padding:20px 0px 20px 40px;
    text-align: center;
    background: #0b53cd;
    text-decoration: none;
    border-radius:3px;

    i{
      font-size: 2rem;
      position: absolute;
      left: 10px;
      @include centerElement('vertical');
      padding: 0 15px;
      border-right: 1px solid #fff;

    }


  }
}